@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagenes/cielodiabg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Urbanist', sans-serif;
    transition: all 5s;

    @keyframes introAnimation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .preLoadBox{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-wrap: wrap;
        width: 80vw;
        height: 80vh;
        z-index: 4;
        opacity: 0;

        img{
            width: 150px;
            height: 150px;
        }

       
    }

    .loadScreen {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transition: all 1s;
        background-color: #111313;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 20;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .loadScreenLoadTitle {
                color: white;
                font-size: 52pt;
                text-align: center;
            }

            .load {
                width: 150px;
            }

            @media (max-width: 768px) {
                body {
                    background-position: center;
                }

                .loadScreenLoadTitle {
                    font-size: 35pt;
                }
            }
        }

    }

    @media (max-width: 768px) {
        .loadScreen {
            width: 100vw;
            height: 100vh;
        }
    }

    .eatBox {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.965);
        width: 450px;
        height: 280px;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.203);
        border: 1px solid rgb(226, 226, 226);
        backdrop-filter: blur(1px);
        animation-name: introAnimation;
        animation-duration: 0.5s;
        z-index: 8;




        .topBox {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            width: 100%;
            margin-bottom: 10px;

            .screenTitle {
                font-weight: 600;
                font-size: 15pt;
                color: #363636;
                margin-top: 4px;
            }

            img {
                width: 25px;
                margin-right: 5px;
                margin-top: 7px;
                cursor: pointer;
            }

        }


        .foodBox {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;

            .boxFood_1,
            .boxFood_2,
            .boxFood_3,
            .boxFood_4,
            .boxFood_5,
            .boxFood_6,
            .boxFood_7,
            .boxFood_8 {

                display: flex;
                position: relative;

                .cookIcon_1,
                .cookIcon_2,
                .cookIcon_3,
                .cookIcon_4,
                .cookIcon_5,
                .cookIcon_6,
                .cookIcon_7,
                .cookIcon_8 {

                    display: none;
                    top: 5px;
                    right: 5px;
                    position: absolute;
                    width: 25px;
                    cursor: pointer;
                    transition: all 1s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

            .food_1,
            .food_2,
            .food_3,
            .food_4,
            .food_5,
            .food_6,
            .food_7,
            .food_8 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;

                width: 100px;
                height: 100px;
                border-radius: 10px;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.203);
                background-color: rgb(237, 237, 237);
                border: 1px solid gray;
                cursor: pointer;

                img {
                    width: 70%;
                }
            }

            @media (max-width: 768px) {

                .food_1,
                .food_2,
                .food_3,
                .food_4,
                .food_5,
                .food_6,
                .food_7,
                .food_8 {
                    width: 140px;
                    height: 140px;
                }
            }
        }


    }

    @media (max-width: 768px) {
        .eatBox {
            width: 95%;
            height: 90%;


        }
    }

    .inventoryBox {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.965);
        padding: 5px;
        border-radius: 20px;
        width: 620px;
        height: auto;
        transition: all 5s;
        z-index: 7;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.203);
        border: 1px solid rgb(226, 226, 226);
        backdrop-filter: blur(1px);
        animation-name: introAnimation;
        animation-duration: 0.5s;

        .topBox {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            width: 100%;

            .screenTitle {
                font-weight: 600;
                font-size: 15pt;
                color: #363636;
                margin-top: 4px;
            }

            img {
                width: 25px;
                margin-right: 5px;
                margin-top: 7px;
                cursor: pointer;
            }

        }

        .inventorySlotBox {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            width: 95%;
            flex-wrap: wrap;
            margin-bottom: 30px;

            .discardbox {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 130px;
                height: 140px;
                border-radius: 10px;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.203);
                background-color: rgb(237, 237, 237);
                border: 1px solid gray;
                cursor: pointer;
                transition: all 1s;

                &:hover {
                    .discartIcon {
                        opacity: 1;
                    }
                }

                .discartIcon {
                    opacity: 0;
                    position: absolute;
                    width: 20px;
                    top: 10px;
                    right: 10px;
                    transition: 1s all;


                    &:hover {
                        transform: scale(1.2);
                    }
                }

                img {
                    width: 70px;
                }
            }
        }

    }

    @media (max-width: 768px) {
        .inventoryBox {
            width: 95%;
        }
    }


    .loseBox {
        position: absolute;
        display: none;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 16;
        background-color: #111313;
        transition: 5s all;
        animation-name: introAnimation;
        animation-duration: 5s;


        button {
            background-color: white;
            color: black;
            width: 155px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border: none;
        }

        .bestScores,
        .timeScore {
            color: white;
            font-size: 19pt;
            font-weight: 600;
        }

        @media (max-width: 768px) {

            .bestScores,
            .timeScore {
                font-size: 17pt;
            }
        }


        .scoresBox {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 2px white;
            border-radius: 5px;
            width: 700px;
            height: 400px;

            .scores {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                p {
                    color: white;
                    font-size: 18pt;
                    font-weight: 600;
                }

                @media (max-width: 768px) {
                    p {
                        font-size: 12pt;
                    }

                }

            }


        }

        @media (max-width: 768px) {
            .scoresBox {
                width: 95%;
            }

        }

        h2 {

            color: white;
            font-size: 52pt;
        }

        @media (max-width: 768px) {

            h2 {
                font-size: 37pt;
                text-align: center;
            }
        }

    }

    .menuBgOut {
        opacity: 0;
    }

    .menuBg {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-image: url(../imagenes/main.jpg);
        background-size: cover;
        background-position: center;
        z-index: 10;
        transition: all 3s;

    }

    @media (max-width: 768px) {
        .menuBg {
            background-size: cover;
            background-position: center;
            background-image: url(../imagenes/mainmobile.jpg);
        }
    }

    .menuBox {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 12px;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.965);
        padding: 5px;
        border-radius: 80px;
        width: auto;
        height: auto;
        transition: all 3s;
        z-index: 7;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.203);
        border: 1px solid rgb(226, 226, 226);
        backdrop-filter: blur(1px);
        animation-name: introAnimation;
        animation-duration: 0.5s;


        button {
            background-color: rgb(237, 237, 237);
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            width: 155px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border: none;
            display: none;
            margin-top: 10px;
            transition: all 2s;


            &:hover{
                transform: scale(1.1);
                
            }
        }
        
        .menuText {
            font-family: 'Urbanist', sans-serif;
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
            color: #531613;
            display: none;
            transition: all 2s;
        }

        .playIcon{
            position: absolute;
            width: 120px;
            top: -15px;
            cursor: pointer;
            transition: all 2s;
        
        }

        .nameBox {
            width: 80px;
            height: 80px;
            border-radius: 800px;
            font-family: 'Urbanist', sans-serif;
            font-size: 20px;
            font-weight: bold;
            padding: 15px;
            transition: all 2s;
            border: #c2c2c2 1.3px solid;
           

            &:focus{
                outline: none;
            }
            
        }

        .closeDiv {
            display: flex;
            justify-content: end;
            width: 100%;
            margin-right: 10px;
            margin-bottom: 5px;

            img {
                width: 30px;
                text-align: right;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 768px) {
        .menuBox {
            width: 95%;
            margin-left: 0px;
        }
    }

    .messageBox {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.965);
        padding: 15px;
        border-radius: 20px;
        width: 500px;
        height: auto;
        transition: all 5s;
        z-index: 9;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.203);
        border: 1px solid rgb(226, 226, 226);
        backdrop-filter: blur(1px);
        animation-name: introAnimation;
        animation-duration: 0.5s;

        p {
            width: 90%;
            font-size: 16pt;
            font-weight: bold;
            color: #3F4E4F;
            margin-bottom: 30px;
            text-align: center;
        }

        .closeDiv {
            display: flex;
            justify-content: end;
            width: 100%;
            margin-right: 10px;
            margin-bottom: 5px;

            img {
                width: 25px;
                text-align: right;
                cursor: pointer;
            }
        }

    }

    @media (max-width: 768px) {
        .messageBox {
            width: 90%;
        }
    }


    .recollectBox {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.965);
        padding: 5px;
        border-radius: 20px;
        width: 650px;
        height: 280px;
        transition: all 5s;
        z-index: 7;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.203);
        border: 1px solid rgb(226, 226, 226);
        backdrop-filter: blur(1px);
        animation-name: introAnimation;
        animation-duration: 0.2s;
        gap: 5px;

        .topBox {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            width: 100%;

            .screenTitleCraft {
                font-weight: 600;
                font-size: 15pt;
                color: #363636;
                margin-top: 4px;
            }

            img {
                width: 25px;
                margin-right: 5px;
                margin-top: 7px;
                cursor: pointer;
            }

            .closeDiv {
                display: flex;
                justify-content: end;

                img {
                    width: 25px;
                    margin-right: 5px;
                    margin-top: 7px;
                    cursor: pointer;
                }
            }

        }

        .recollectItems,
        .craftItems {
            display: flex;
            gap: 10px;

            .discartRecolectIcon {
                display: flex;
                position: absolute;
                width: 20px;
                margin-left: 170px;
                margin-top: 5px;
            }

            .recollect_1,
            .recollect_2,
            .recollect_3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 20px;
                width: 200px;
                height: 200px;
                border-radius: 10px;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.203);
                background-color: rgb(237, 237, 237);
                border: 1px solid gray;
                cursor: pointer;

                img {
                    width: 75%;
                    margin-bottom: 5px;
                }

                .discartRecolectIcon {
                    position: absolute;
                    width: 10px;
                }
            }
        }

        @media (max-width: 768px) {
            .recollectItems {
                flex-direction: column;

            }
        }
    }

    @media (max-width: 768px) {
        .recollectBox {
            width: 95%;
            height: 95%;

        }
    }

    .craftingBox {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.965);
        padding: 5px;
        border-radius: 20px;
        width: 450px;
        height: 480px;
        transition: all 5s;
        z-index: 7;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.203);
        border: 1px solid rgb(226, 226, 226);
        backdrop-filter: blur(1px);
        animation-name: introAnimation;
        animation-duration: 0.2s;
        gap: 5px;


        .topBox {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            width: 100%;

            .screenTitleCraft {
                font-weight: 600;
                font-size: 15pt;
                color: #363636;
                margin-top: 4px;


            }

            img {
                width: 25px;
                margin-right: 5px;
                margin-top: 7px;
                cursor: pointer;
            }


        }

        .craftItems {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 95%;
            flex-wrap: wrap;

            .torchButton, 
            .collectorButton, 
            .woodFireButton, 
            .trapButton {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 200px;
                height: 200px;
                border-radius: 10px;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.203);
                background-color: rgb(237, 237, 237);
                border: 1px solid gray;
                cursor: pointer;

                .craftItemText {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .craftTitle {
                        font-size: 14pt;
                        font-weight: 600;
                        text-align: center;
                        line-height: 16px;
                    }

                    .craftMaterials {
                        font-size: 11pt;
                        font-weight: 500;
                        color: #2e2e2e;
                        text-align: center;
                    }

                    .craftDescription {
                        text-align: center;
                    }

                    @media (max-width: 768px) {

                        .craftDescription,
                        .craftMaterials,
                        .craftTitle {
                            text-align: left;
                        }
                    }

                }

                @media (max-width: 768px) {
                    .craftItemText {
                        display: flex;
                        flex-direction: column;
                        width: 75%;
                        margin-left: 20px;
                    }
                }

                img {
                    width: 45%;
                    margin-bottom: 5px;
                }

                @media (max-width: 768px) {
                    img {
                        width: 30%;
                    }
                }
            }

            @media (max-width: 768px) {

                .torchButton,
                .collectorButton,
                .woodFireButton,
                .trapButton {
                    flex-direction: row;
                    height: 150px;
                    width: 90%;
                }


            }

            .torchButton {
                opacity: 30%;
                filter: grayscale(100%);

            }

            .collectorButton {
                opacity: 30%;
                filter: grayscale(100%);

            }

            .woodFireButton {
                opacity: 30%;
                filter: grayscale(100%);

            }


        }
    }

    @media (max-width: 768px) {

        .craftingBox {
            width: 95%;
            height: 95%;
        }


    }


    .gameBox {
        display: none;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 20px;
        width: 414px;
        height: 900px;
        transition: all 4s;
        // box-shadow: 1px 2px 5px rgb(200, 200, 200);

        header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 50px;
            margin-bottom: 20px;

            .rightMenu {
                display: flex;
                gap: 10px;

                .headerMenuIconBox {
                    display: flex;
                    margin-right: 50px;
                    margin-top: -17px;
                    width: 100%;
                    transition: all 1s;

                    .muteIcon,
                    .unMuteIcon {
                        display: flex;
                        position: absolute;
                        width: 38px;
                        z-index: 4;
                        cursor: pointer;
                        
                    }

                 
                    .unMuteIcon {
                        z-index: 3;
                    }

                    .headerCampUpGradesBoxMobil {
                        display: none;
                        position: absolute;
                        left: 10px;
                        top: 45px;
                        flex-direction: column;
                        align-items: center;
                        gap: 3px;
                    }

                    @media (max-width: 768px) {
                        .headerCampUpGradesBoxMobil {
                            display: flex;
                        }
                    }
                }

                @media (max-width: 768px) {
                    .headerMenuIconBox {
                        flex-direction: column;
                        gap: 10px;
                        margin-right: 14px;
                 
                        .upgradeIconTrampaMobil,
                        .upgradeIconAntorchaMobil,
                        .upgradeIconRecolectorMobil {
                            width: 30px;
                        }

                        .upgradeIconTrampaMobil {
                            visibility: hidden;
                        }

                        .upgradeIconAntorchaMobil {
                            visibility: hidden;
                        }

                        .upgradeIconRecolectorMobil {
                            visibility: hidden;
                        }
                    }
                }

                .healtIcons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    top: 60px;
                    left: 17px;
                    z-index: 5;

                    .healtIconVirus {
                        width: 35px;
                    }
                }

                @media (max-width: 768px) {
                    .healtIcons {
                        top: 140px;
                        left: 5px;
                    }
                }


                .headerCampUpGradesBox {
                    display: flex;
                    position: absolute;
                    right: 70px;
                    top: 30px;
                    align-items: center;

                    .upgradeIconAntorcha {
                        display: none;
                    }

                    .upgradeIconRecolector {
                        display: none;
                    }

                    .upgradeIconFogata {
                        display: none;
                    }

                    .upgradeIconTrampa {
                        display: none;
                        margin-right: 5px;
                    }

                    img {
                        width: 30px;
                    }
                }

                @media (max-width: 768px) {
                    .headerCampUpGradesBox {
                        display: none;
                    }
                }
            }

            .headerClockBox {

                display: flex;
                align-items: center;
                width: 340px;
                margin-left: 10px;


                p {
                    font-weight: bold;
                    font-size: 14pt;
                    line-height: 18px;
                    margin-left: 10px;
                }

                @media (max-width: 768px) {
                    p {
                        font-size: 13pt;
                        line-height: 15px;
                        margin-left: 5px;
                    }
                }

                img {
                    width: 33px;

                }

                @media (max-width: 768px) {
                    img {
                        width: 28px;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            header {
                position: absolute;
                top: 5px;
            }
        }
    }



    @media (max-width: 768px) {
        .gameBox {
            width: 100vw;
            height: 100vh;
            justify-content: center;
            border-radius: 0px;

        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

        }

        .campStatusBox {
            width: 95%;
        }
    }

    .campingMask {
        display: flex;
        justify-content: center;
        margin-top: -45px;
        margin-bottom: 10px;
        height: 229px;
        overflow: hidden;


        .campStatusBox {
            display: flex;
            position: relative;
            justify-content: center;
            margin-bottom: 15px;
            height: 310px;
            width: 300px;
            border-radius: 200px;
            overflow: hidden;


            .camping {
                width: 350px;
                height: 220px;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 3;
                margin-top: 25px;
                transition: all 3s;
            }

            @media (max-width: 768px) {
                .camping {
                    margin-top: 5px;

                }

            }


            .sky {
                position: absolute;
                height: 320px;
                width: 340px;
                margin-top: -40px;
                background-image: url(../imagenes/cielodia.png);
                background-size: contain;
                background-position: center, top;
                background-repeat: no-repeat;
                transition: all 3s;

                @keyframes cloudsAnimations {
                    from {
                        transform: translateX(-400px);


                    }

                    to {
                        transform: translateX(500px);

                    }
                }


                .birdsContainer {
                    .birds {
                        position: absolute;
                        width: 300px;
                        z-index: 6;
                    }
                }

                .clouds {
                    display: flex;
                    position: absolute;
                    align-items: center;
                    width: 700px;
                    translate: -300px;
                    top: 150px;
                    animation-name: cloudsAnimations;
                    animation-iteration-count: infinite;
                    animation-duration: 229s;
                    animation-delay: 0s;
                    animation-timing-function: linear;
                    gap: 70px;
                    z-index: 5;
                    filter: blur(0.5px);
                    transition: all 3s;

                    .cloudOne {
                        margin-top: -120px;
                        width: 210px;
                        height: 100px;
                        background-image: url(../imagenes/nubedia1.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: 5s all;

                    }

                    .cloudTwo {
                        margin-top: -30px;
                        width: 240px;
                        height: 100px;
                        background-image: url(../imagenes/nubedia2.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: 5s all;

                    }

                    .cloudThree {
                        width: 220px;
                        height: 100px;
                        background-image: url(../imagenes/nubedia3.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: 5s all;
                    }
                }



            }

            .campingDia,
            .campingNoche,
            .campingTarde {
                position: absolute;
                width: 350px;
                margin-top: 5px;
                transition: 3s all;
                z-index: 8;
            }

            .rainContainer {
                display: flex;

                z-index: 20;
                margin-top: -200px;

                .rain {
                    position: absolute;
                    width: 300px;
                    margin-top: -30px;
                    filter: brightness(5);
                }

                .rain2 {
                    position: absolute;
                    margin-top: -30px;
                    width: 300px;
                    margin-left: 125px;
                    filter: brightness(5);
                }

            }





            @keyframes fireglow {
                0% {
                    transform: scale(1.1);
                }

                20% {
                    transform: scale(1.0);
                }

                40% {
                    transform: scale(0.9);
                }

                60% {
                    transform: scale(1.0);
                }

                80% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(0.9);
                }
            }


            @keyframes fireflyes_1 {
                from {
                    top: 190px;
                    opacity: 0;
                }

                to {
                    top: 130px;
                    transform: translateZ(50px);

                }
            }

            @keyframes fireflyes_2 {
                from {
                    top: 150px;
                }

                to {
                    top: 170px;
                    opacity: 0;
                    transform: translateZ(30px);

                }
            }

            @keyframes fireflyes_3 {
                from {
                    top: 170px;
                }

                to {
                    top: 140px;
                    opacity: 0;
                    transform: translateZ(20px);

                }
            }


            .fireflyes {

                .firefly_1,
                .firefly_2,
                .firefly_3,
                .firefly_4,
                .firefly_5,
                .firefly_6 {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    box-shadow: #98ff9a 0px 0px 1px 1px;
                    background-color: #56ff59;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                    z-index: 10;
                }
            }

            .firefly_1 {
                top: 160px;
                left: 100px;

                animation-name: fireflyes_1;
                animation-duration: 6s;

            }

            .firefly_2 {
                top: 130px;
                left: 150px;
                animation-name: fireflyes_2;
                animation-duration: 7s;
            }

            .firefly_3 {
                top: 150px;
                left: 200px;

                animation-name: fireflyes_3;
                animation-duration: 4s;
            }

            .firefly_4 {
                top: 110px;
                left: 250px;
                animation-name: fireflyes_1;
                animation-duration: 6s;
            }

            .firefly_5 {
                top: 150px;
                left: 300px;

                animation-name: fireflyes_2;
                animation-duration: 5s;
            }

            .firefly_6 {
                top: 150px;
                left: 50px;
                animation-name: fireflyes_2;
                animation-duration: 6s;
            }




            .fireglow {
                position: absolute;
                animation-name: fireglow;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-direction: alternate-reverse;
                margin-left: 97px;
                margin-top: 130px;
                transition: 5s all;
                z-index: 8;
            }

            .fireRock {
                position: absolute;
                width: 40px;
                margin-left: 225px;
                margin-top: 175px;
                transition: 5s all;
                z-index: 9;

            }

            .fireRockNigth {
                position: absolute;
                width: 40px;
                margin-left: 3px;
                margin-left: 225px;
                margin-top: 175px;
                transition: 5s all;
                z-index: 9;

            }


            .campFire {
                position: absolute;
                width: 55px;
                margin-top: 110px;
                margin-left: 220px;
                transition: 5s all;
                z-index: 10;

            }

            img {
                width: 300px;
                transition: 5s all;

            }

            .sunMoon {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 300px;
                z-index: 2;
                margin-left: 25px;
                margin-top: 130px;
                transition: 5s all;



                .sunMoonImg {
                    width: 350px;
                    transform: rotate(0deg);
                    transition: 8s all;


                }
            }
        }

        @media (max-width: 768px) {
            .campStatusBox {
                height: 250px;
                width: 250px;
                margin-top: 20px;

            }

        }


    }

    .playerStatusBox {

        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;


        .playerStatus {
            display: flex;
            height: 40px;
            width: 100%;

            .statusBarHealth,
            .statusBarFatigue,
            .statusBarHunger,
            .statusBarThirst,
            .statusBarMood {
                display: flex;
                align-items: center;
                margin-left: 5px;
                border-radius: 4px;
                transition: all 5s;
                overflow: hidden;

                p {
                    width: 100%;
                    color: white;
                    font-size: 12pt;
                    font-weight: bolder;
                    margin-left: 10px;
                    letter-spacing: 5px;
                    overflow: hidden;
                    z-index: 5;

                }

            }

            .statusBarHealthB,
            .statusBarFatigueB,
            .statusBarHungerB,
            .statusBarThirstB,
            .statusBarMoodB {
                position: absolute;
                display: flex;
                align-items: center;


                p {
                    color: #3F4E4F;
                    font-size: 12pt;
                    font-weight: 800;
                    margin-left: 54.5px;
                    margin-top: 10.5px;
                    letter-spacing: 5px;
                    z-index: 4;

                }

                @media (max-width: 768px) {
                    p {
                        margin-left: 49.2px;
                        margin-top: 5.5px;
                    }

                }



            }


            .statusBarHealth {
                background-color: #B33030;
                width: 0px;
                ;
            }

            .statusBarFatigue {
                background-color: #3F4E4F;
                width: 0px;
            }

            .statusBarHunger {
                background-color: #4E944F;
                width: 0px;
            }

            .statusBarThirst {
                background-color: #4B778D;
                width: 0px;
            }

            .statusBarMood {
                background-color: #ffa322;
                width: 0px;
            }

            @keyframes heartbeat {
                from {
                    transform: scale(1);
                    transform-origin: center center;
                    animation-timing-function: ease-out;
                }

                10% {
                    transform: scale(0.91);
                    animation-timing-function: ease-in;
                }

                17% {
                    transform: scale(0.98);
                    animation-timing-function: ease-out;
                }

                33% {
                    transform: scale(0.87);
                    animation-timing-function: ease-in;
                }

                45% {
                    transform: scale(1);
                    animation-timing-function: ease-out;
                }
            }

            .StatusIcon {
                .StatusIconSalud {
                    transition: all 1s;
                    animation-duration: 0.8s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                .StatusIconCansancio {
                    transition: all 1s;
                    animation-duration: 0.8s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                .StatusIconHambre {
                    transition: all 1s;
                    animation-duration: 0.8s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                .StatusIconSed {
                    transition: all 1s;
                    animation-duration: 0.8s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                .StatusIconMoral {
                    transition: all 1s;
                    animation-duration: 0.8s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                img {
                    width: 40px;

                }
            }

            @media (max-width: 768px) {
                .StatusIcon {

                    .StatusIconSalud,
                    .StatusIconCansancio,
                    .StatusIconHambre,
                    .StatusIconSed,
                    .StatusIconMoral {
                        width: 35px;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .playerStatus {
                height: 30px;

            }

        }


    }

    .backPackBox {

        display: flex;
        width: 100%;
        margin-top: 10px;


        .playerBackPack {
            display: flex;
            align-items: center;
            height: 40px;
            width: 100%;


            .backPackContainers {
                gap: 3px;
                display: flex;
                margin-left: 3px;
                cursor: pointer;
                transition: 1s all;

                &:hover {
                    transform: scale(1.03);

                }

                .backPackContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background-color: rgb(220, 220, 220);
                    width: 40px;
                    height: 40px;
                    transition: all 1s;

                    img {
                        width: 92%;
                        border-radius: 4px;
                    }

                }

                @media (max-width: 768px) {
                    .backPackContainer {
                        width: 35px;
                        height: 35px;
                    }
                }

            }


        }

        .backPackIcon {

            img {
                cursor: pointer;
                width: 40px;
                transition: 1s all;

                &:hover {
                    transform: scale(1.1);
                }
            }

        }

        @media (max-width: 768px) {
            .backPackIcon {
                img {
                    width: 35px;
                }

            }

        }
    }

}

.actionsBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .actionButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        align-items: center;
        background-color: rgb(237, 237, 237);
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;


        .actionButtonTitle {
            font-size: 12pt;
            font-weight: 800;
            color: #111313;
        }

        @media (max-width: 768px) {
            .actionButtonTitle {
                font-size: 11pt;
            }
        }

        .actionDescription {
            font-size: 11pt;
            color:#1b1b1b;
        }

        @media (max-width: 768px) {
            .actionDescription {
                font-size: 8pt;
                text-align: center;
            }
        }
    }

    @media (max-width: 768px) {
        .actionButton {
            height: 40px;
            width: 330px;
        }

    }
}

@media (max-width: 768px) {
    .actionsBox {
        width: 95%;

    }


}